<div class="modal fade" id="signalingDialogInitiator" tabindex="-1" role="dialog" aria-labelledby="signalingDialogInitiatorLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="signalingDialogInitiatorLabel">Invite a friend</h4>
            </div>

            <form bind-on-submit="functions.connect">
                <div class="modal-body">
                    <fieldset class="form-group" bind-unless="values.copiedOffer">
                        <label for="OfferTextarea">Okay, send this offer to your friend.</label>
                        <textarea class="form-control" id="OfferTextarea" rows="3" bind-value="values.offer"></textarea>
                    </fieldset>

                    <fieldset class="form-group" bind-if="values.copiedOffer">
                        <label for="AnswerTextarea">Your friend should send you an answer back.</label>
                        <textarea class="form-control" id="AnswerTextarea" rows="3" bind-value="values.answer"></textarea>
                    </fieldset>
                </div>

                <div bind-unless="values.copiedOffer" class="modal-footer">
                    <button bind-on-click="functions.copyOffer" data-clipboard-target="#OfferTextarea" type="button" class="btn btn-primary">Copy offer to clipboard</button>
                </div>

                <div bind-if="values.copiedOffer" class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Connect">
                </div>
            </form>
        </div>
    </div>
</div>