<div class="modal fade" id="signalingDialogNickname" tabindex="-1" role="dialog" aria-labelledby="signalingDialogNicknameLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="signalingDialogNicknameLabel">Please enter a nickname</h4>
            </div>

            <form bind-on-submit="functions.save">
                <div class="modal-body">
                    <fieldset class="form-group">
                        <label for="Nickname">This will be send to people you connect with.</label>
                        <input type="text" class="form-control" id="Nickname" bind-value="values.nickname" required>
                    </fieldset>
                </div>

                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Save nickname">
                </div>
            </form>
        </div>
    </div>
</div>